html,body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}

#back {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 32px;
  height: 32px;
  z-index: 4;
  border-radius: 50%;
  cursor: pointer;
}
#back:hover {
  background-color: rgba(255, 255, 255, .2);
}

#wrapper {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 75%;
}

#flood {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#info {
    background-color: white;
    position: fixed;
    box-shadow: rgba(0, 0, 0, .2) -5px 0 5px;
    padding: 20px;
    border-top: solid 5px rgb(0, 98, 255);
    z-index: 3;
    transition: transform 200ms ease;
    overflow-y: scroll;
    box-sizing: border-box;
}

#info.right {
    min-width: 300px;
    height: 100%;
    right: 0;
}

#info.bottom {
    width: 100%;
    min-height: 200px;
    bottom: 0;
}

#info.right.expanded {
    transform: translateX(0) !important;
}

#info.bottom.expanded {
    transform: translateY(0px) !important;
}

#thumb:not(.enabled) {
    width: 0;
    height: 0;
    display: none;
}

#thumb.enabled {
    display: block;
    position: fixed;
    background-color: #eee;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, .3) -4px 3px 3px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 200ms;
}

#thumb.right {
    width: 30px;
    height: 50px;
    bottom: 0;
    margin: 5px 0;
    transition-property: width, box-shadow;
    border-radius: 5px 0 0 5px;
    background-image: url('../images/arrow_left.png');
}

#thumb.bottom {
    width: 50px;
    height: 30px;
    right: 0;
    margin: 0 5px;
    transition-property: height, box-shadow;
    border-radius: 5px 5px 0 0;
    background-image: url('../images/arrow_up.png');
}

#thumb.right:hover {
    width: 40px;
    box-shadow: rgba(0, 0, 0, .3) -5px 4px 4px;
}

#thumb.bottom:hover {
    height: 40px;
    box-shadow: rgba(0, 0, 0, .3) -5px 4px 4px;
}

#name {
    font-size: 30px;
}

#speed {
    margin: 15px 10px 15px 30px;
    font-size: 23px;
    color: rgb(0, 80, 240);
}

#speed:empty {
    display: none;
}

#speed:before {
    content: '流速: ';
}

#speed:after {
    content: ' m/s';
}

#card {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: rgba(0, 0, 0, .3) -3px 3px 5px;
    color: rgb(0, 98, 255);
    border: solid 3px rgb(0, 98, 255);
    font-size: 25px;
}

#card:empty {
    display: none;
}

#depth:after {
    content: ' m';
}

#additional-info {
    margin-left: 20px;
}

.info-title {
    margin-bottom: 5px;
}

.info-content {
    margin-left: 10px;
    color: #333;
}

.action-button {
    display: inline-block;
    margin: 5px;
    padding: 5px 15px;
    background: #ddd;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .3) 3px 3px 5px;
    cursor: pointer;
    transition: background-color 200ms,
                box-shadow 300ms;
}

.action-button:hover {
    box-shadow: rgba(0, 0, 0, .3) 4px 4px 7px;
}

.action-button:active {
    background-color: #ccc;
    box-shadow: rgba(0, 0, 0, .3) 2px 2px 4px;
}

.action-button:before {
    margin-right: 5px;
}

#replay:before {
    content: url('../images/replay.png');
}

input[type=radio] {
    display: none;
}

label[data-enabled=true] {
    background-color: rgb(105, 159, 255);
    box-shadow: rgba(0, 0, 0, .3) -2px 2px 4px !important;
}

label[data-enabled=true]:hover {
    background-color: rgb(86, 130, 209);
}

#play-seek {
    margin: 20px 0;
    width: 100%;
    outline: none;
}
